exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(zoo)
import(tidyr)
import(survival)
import(riskRegression)
import(prodlim)
import(crrSC)
import(data.table)
importFrom(stats, as.formula)
importFrom(stats, na.omit)
importFrom(stats, model.matrix)
importFrom(stats, quantile)
